:root {
  font-family: Inter, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}
ul {
  list-style-type: none;
  padding-left: 0rem;
}
.input-text {
  padding: 5px;
  font-size: 17px;
  border-width: 1px;
  border-color: #000000;
  background-color: #474747;
  color: #ffffff;
  border-style: solid;
  border-radius: 14px;
  box-shadow: 0px 0px 5px rgba(66,66,66,.75);
  text-shadow: 0px 0px 5px rgba(66,66,66,.75);
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}
.input-text:focus {
  outline:none;
}
.input-btn {
  padding: 5px;
  font-size: 17px;
  border-width: 1px;
  border-color: #bdbdbd;
  background-color: #858585;
  color: #ffffff;
  border-style: solid;
  border-radius: 14px;
  box-shadow: 0px 0px 5px rgba(66,66,66,.75);
  text-shadow: 0px 0px 5px rgba(66,66,66,.75);
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}
.input-btn:focus {
  outline:none;
}